body {
    box-sizing: border-box;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #010101;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-container {
    height: 100vh;
    background-image: url(images/side-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.change-form-login,
.change-form-register {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 1s ease;
}

.change-form-login.active,
.change-form-register.active {
    visibility: visible;
    opacity: 1;
    max-height: 200px;
}

.change-form-login p,
.change-form-register p {
    font-weight: 600;
    color: white;
}

.change-form-login button,
.change-form-register button {
    width: 100px;
    height: 40px;
    margin-right: 3px;
    border: none;
    border-radius: 10px;
    background-color: #FD0965;
    color: white;
    font-weight: 600;
    transition: background-color 0.2s ease-in;
}

.change-form-login button:hover,
.change-form-register button:hover {
    background-color: #fd093e;
}

.register-form, 
.login-form {
    padding: 0 80px;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease, padding 0.5s ease;
}

.register-form.active,
.login-form.active {
    padding: 180px 80px;
    visibility: visible;
    opacity: 1;
}

.register-form h1,
.login-form h1 {
    margin: 0;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

form span {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
}

form input:not([type="submit"]) {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin-bottom: 30px;
    padding: 8px 0;
    width: 400px;
    height: 20px;
    background-color: #010101;
    color: white;
    transition: translate 0.2s ease;
}

form input:not([type="submit"]):hover {
    translate: 4px;
}

span.error {
    font-size: 0.7rem;
    color: #FD0965;
    margin-left: 5px;
}

form input[type="submit"] {
    margin-top: 30px;
    height: 50px;
    width: 180px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #FD0965;
    transition: width 0.1s ease, height 0.1s ease, translate 0.1s ease;
}  

form input[type="submit"]:hover {
    height: 52px;
    width: 182px;
    translate: -4px -4px;
}

/* #TODO: php page style, media query */